<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <span>Админка ЦТ</span>
    </mat-toolbar>

    <mat-nav-list class="sidenav-nav-list">
      <a mat-list-item routerLink="/admin/create-test" routerLinkActive="active-link">
        <mat-icon matListItemIcon>add_box</mat-icon>
        <span matListItemText>Создать тест</span>
      </a>

      <a mat-list-item routerLink="/admin/add-subject" routerLinkActive="active-link">
        <mat-icon matListItemIcon>book</mat-icon>
        <span matListItemText>Добавить предмет</span>
      </a>

      <a mat-list-item routerLink="/admin/subjects" routerLinkActive="active-link">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemText>Список предметов</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
