<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!-- Имя Фамилия -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Имя и фамилия</mat-label>
          <input matInput [(ngModel)]="model.fullName" name="fullName" required #fullNameControl="ngModel">
          <mat-icon matPrefix style="margin-right: 8px;">person</mat-icon>
          <mat-error *ngIf="fullNameControl.invalid && fullNameControl.touched">
            Это поле обязательное
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="model.email" name="email" type="email"
                 required email #emailControl="ngModel">
          <mat-icon matPrefix style="margin-right: 8px;">email</mat-icon>
          <mat-error *ngIf="emailControl.invalid && emailControl.touched">
            Неверный формат email
          </mat-error>
        </mat-form-field>

        <!-- Пароль -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Пароль</mat-label>
          <input matInput [(ngModel)]="model.password" name="password" type="password"
                 required minlength="3" #passwordControl="ngModel">
          <mat-icon matPrefix style="margin-right: 8px;">lock</mat-icon>
          <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">
            Минимум 3 символа
          </mat-error>
        </mat-form-field>

        <!-- Кнопка -->
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Зарегистрироваться
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <p>Уже есть аккаунт? <a routerLink="/login">Войти</a></p>
    </mat-card-actions>
  </mat-card>
</div>
